<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Musistik</title>
        <link rel="stylesheet" type="text/css" href="/css/layout.css">
        <link rel="stylesheet" type="text/css" href="/css/main.css">
        <link rel="stylesheet" type="text/css" href="/css/util.css">
        <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
        <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
        <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    </head>

    <body>
        <!-- NAV -->
        <header class="navbar">
            <input type="checkbox" id="check">
            <label for="check" class="checkbtn">
                <i class="fas fa-bars"></i>
            </label>
            <section class="navbar-section logo">
                <a href="/" style="box-shadow:none;">
                    <img src="/Logo.png" width="75px" height="75">
                </a>
            </section>
            <ul>
                <li><a href="/" class="btn btn-link">Home</a></li>
                <li><a href="/discover/0" class="btn btn-link">Discover</a></li>
                <li><a href="/users" class="btn btn-link">Users</a></li>
                {{#if isLoggedIn}}
                    <li><a href="/library" class="btn btn-link">Library</a></li>
                {{/if}}
                <li><a href="/about" class="btn btn-link">About</a></li>
                <li><a href="/contact" class="btn btn-link">Contact</a></li>
            </ul>
            <section class="navbar-section sign">
                <div class="input-group input-inline">
                    {{#if isLoggedIn}}
                        <a href="/signOut" class="btn btn-primary" style="border-radius: 4vh;">Sign Out</a>
                    {{else}}
                        <a href="/signIn" class="btn" style="margin-right: 1vh; border-radius: 4vh">Sign In</a>
                        <a href="/signUp" class="btn btn-primary" style="border-radius: 4vh;">Sign Up</a>
                    {{/if}}
                </div>
            </section>
        </header>
        <!-- -->
        {{{body}}}
    </body>
</html>