<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Musistik</title>
  </head>

  <body>
    <h1>Write the layout code in this file</h1>
    {{{body}}}
  </body>

</html>