<div class="hometitle about">
    <div class="container inside">
        <h1>About</h1>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris congue volutpat orci sed aliquet. Curabitur feugiat arcu ac nisl pretium efficitur. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Fusce eleifend massa sed nisl ullamcorper, non imperdiet ante auctor.</p>
        <p>Nulla facilisi. Ut congue risus id enim finibus elementum. Aenean ut ex id turpis rutrum dictum. Aenean bibendum hendrerit magna, quis varius dui. Curabitur mattis vel justo at tempor. Sed fringilla ex urna, pellentesque placerat lacus convallis eget. Donec vitae urna a diam ultricies auctor a a felis.</p>
    </div>
</div>