<div class="hometitle about">
    <div class="container inside">
        <h1>Contact</h1>

        <p><i class="icon icon-location contact"></i>Address: Smedjegatan 31, 553 20 Jönköping</p>
        <p><i class="icon icon-message contact"></i>Phone Number: +46 (0) 1337</p>
        <p><i class="icon icon-mail contact"></i>Email: contact@musistik.com</p>
    </div>
</div>