<div class="contact1">
    <div class="section-discover">
        <p style="color: red;">{{errors}}</p>
        <div id="grid" >
        <!-- for each playlist in db -->
        {{#each publicPlaylists}}
            <div class="box">
                <img src="/uploads/{{image}}" alt="test" class="img-responsive">
                <div class="bottom-left">
                    <h2>{{title}}</h2>
                </div>
            </div>
        {{/each}}
        </div>
    </div>
</div>