<div class="contact1">
    <div class="section-discover">
        <div id="grid" class="img-container">
        <!-- for each playlist in db -->
            <div class="box">
                <img src="me.jpeg" alt="test" class="img-responsive">
                <div class="bottom-left">
                    <h2>Example headline.frfnek</h2>
                </div>
            </div>
            <div class="box">
                <img src="me.jpeg" alt="test" class="img-responsive">
                <div class="bottom-left">
                    <h2>Example headline.frfnek</h2>
                </div>
            </div>
            <div class="box">
                <img src="me.jpeg" alt="test" class="img-responsive">
                <div class="bottom-left">
                    <h2>Example headline.frfnek</h2>
                </div>
            </div>
            <div class="box">
                <img src="me.jpeg" alt="test" class="img-responsive">
                <div class="bottom-left">
                    <h2>Example headline.frfnek</h2>
                </div>
            </div>
            <div class="box">
                <img src="me.jpeg" alt="test" class="img-responsive">
                <div class="bottom-left">
                    <h2>Example headline.frfnek</h2>
                </div>
            </div>
        </div>
    </div>
</div>