<div class="contact1">
    <div class="wrapper">
        <div class="section-library">
            <div class="box-section-library">

            </div>
            <div class="box-section-library">
                
            </div>
            <div class="box-section-library">
                
            </div>
            <div class="box-section-library">
                
            </div>
            <div class="box-section-library">
                
            </div>
            <div class="box-section-library">
                
            </div>
            <div class="box-section-library">
                
            </div>
            <div class="box-section-library">
                
            </div>
        </div>
        <div class="section-library">
            <div class="box-section-library">

            </div>
            <div class="box-section-library">
                
            </div>
            <div class="box-section-library">
                
            </div>
            <div class="box-section-library">
                
            </div>
            <div class="box-section-library">
                
            </div>
            <div class="box-section-library">
                
            </div>
            <div class="box-section-library">
                
            </div>
            <div class="box-section-library">
                
            </div>
        </div>
    </div>
</div>