<div class="contact1">
    <div class="wrapper">
        {{#if isLoggedIn}}
            <div class="create-playlist-btn">
                <a href="/library/createPlaylist" class="btn" style="border-radius: 3vh; margin-left: 6rem">Create Playlist</a>
            </div>
            <div class="playlist-title-library">
                <h2>Your public playlists</h2>
            </div>
            <div class="section-library">
                <div class="box-section-library">
                    <img src="/me.jpeg" alt="test" class="img-responsive-library">
                    <div class="bottom-left-library">
                        <h2>Example headline.frfnek</h2>
                    </div>
                </div>
                <div class="box-section-library">
                    <img src="/me.jpeg" alt="test" class="img-responsive-library">
                    <div class="bottom-left-library">
                        <h2>Example headline.frfnek</h2>
                    </div>
                </div>
                <div class="box-section-library">
                    <img src="/me.jpeg" alt="test" class="img-responsive-library">
                    <div class="bottom-left-library">
                        <h2>Example headline.frfnek</h2>
                    </div>
                </div>
                <div class="box-section-library">
                    <img src="/me.jpeg" alt="test" class="img-responsive-library">
                    <div class="bottom-left-library">
                        <h2>Example headline.frfnek</h2>
                    </div>
                </div>
                <div class="box-section-library">
                    <img src="/me.jpeg" alt="test" class="img-responsive-library">
                    <div class="bottom-left-library">
                        <h2>Example headline.frfnek</h2>
                    </div>
                </div>
                <div class="box-section-library">
                    <img src="/me.jpeg" alt="test" class="img-responsive-library">
                    <div class="bottom-left-library">
                        <h2>Example headline.frfnek</h2>
                    </div>
                </div>
                <div class="box-section-library">
                    <img src="/me.jpeg" alt="test" class="img-responsive-library">
                    <div class="bottom-left-library">
                        <h2>Example headline.frfnek</h2>
                    </div>
                </div>
                <div class="box-section-library">
                    <img src="/me.jpeg" alt="test" class="img-responsive-library">
                    <div class="bottom-left-library">
                        <h2>Example headline.frfnek</h2>
                    </div>
                </div>
            </div>
            <div class="playlist-title-library">
                <h2>Your private playlists</h2>
            </div>
            <div class="section-library">
                <div class="box-section-library">
                    <img src="/me.jpeg" alt="test" class="img-responsive-library">
                    <div class="bottom-left-library">
                        <h2>Example headline.frfnek</h2>
                    </div>
                </div>
                <div class="box-section-library">
                    <img src="/me.jpeg" alt="test" class="img-responsive-library">
                    <div class="bottom-left-library">
                        <h2>Example headline.frfnek</h2>
                    </div>
                </div>
                <div class="box-section-library">
                    <img src="/me.jpeg" alt="test" class="img-responsive-library">
                    <div class="bottom-left-library">
                        <h2>Example headline.frfnek</h2>
                    </div>
                </div>
                <div class="box-section-library">
                    <img src="/me.jpeg" alt="test" class="img-responsive-library">
                    <div class="bottom-left-library">
                        <h2>Example headline.frfnek</h2>
                    </div>
                </div>
                <div class="box-section-library">
                    <img src="/me.jpeg" alt="test" class="img-responsive-library">
                    <div class="bottom-left-library">
                        <h2>Example headline.frfnek</h2>
                    </div>
                </div>
                <div class="box-section-library">
                    <img src="/me.jpeg" alt="test" class="img-responsive-library">
                    <div class="bottom-left-library">
                        <h2>Example headline.frfnek</h2>
                    </div>
                </div>
                <div class="box-section-library">
                    <img src="/me.jpeg" alt="test" class="img-responsive-library">
                    <div class="bottom-left-library">
                        <h2>Example headline.frfnek</h2>
                    </div>
                </div>
                <div class="box-section-library">
                    <img src="/me.jpeg" alt="test" class="img-responsive-library">
                    <div class="bottom-left-library">
                        <h2>Example headline.frfnek</h2>
                    </div>
                </div>
            </div>
        {{else}}
            
        {{/if}}
        
    </div>
</div>